body {
    background-color: #A4E6DD; 
    background-image: url(http://www.formabase.com/exercicios/imagens/mundo.jpg); 
    background-repeat: repeat-x; 
    background-attachment: fixed; 

}


p {
    height: 250px; 
    width: 600px; 
    margin-top: 20px; 
    margin-right: 10px; 
    margin-bottom: 50px; 
    margin-left: 10px; 
    background-color: #0099FF;
    padding: 20px;
    background-image: url(http://www.formabase.com/exercicios/imagens/web3.jpg); 
    background-repeat: no-repeat; 
    background-position: right 100px; 
}


h1 {
    background-color: #333333; 
    color:#CCCCCC; 
    padding: 5px; 
    background-image: url(http://www.formabase.com/exercicios/imagens/web4.jpg); 
    background-repeat: no-repeat; 
}
