html {
    scroll-behavior: smooth;
  }
  

body{
    background-image: url(img/background.jpg);
}

.counter{
  margin-top: 2%;
  text-align: justify;
  font-size: large;
  font-weight: bold;
}
* {box-sizing: border-box}
        
.container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 75%; background-color: #ff2828;}
.js {width: 70%; background-color: #29dfb7;}
.php {width: 40%; background-color: #9420ca;}
.mySql {width: 40%; background-color: #ff3191;}
.bootstrap {width: 80%; background-color: #ffae00;}
.testing {width: 90%; background-color: #0099b4;}