.navbar > ul  {
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5%;
    border-style: dotted;
    border-color: blue;
    background-color:black; 
}

.navbar > ul > li{
    color: whitesmoke; 
}

.navbar{

}

footer{
    border: 0.5%;
    border-style: dotted;
    border-color:rgb(18, 84, 143);
    text-align: center;
    height: 50px;
    background-color: darkgray;
}

header {
    text-align: center;
    border: 0.5%;
    border-style: dotted;
    border-color: rgb(0, 247, 255);
    color: whitesmoke;
    background-color: black;
}

.main-content {
    background-color: blanchedalmond;
    
}

.sidebar {
    margin-bottom: 0%;
    background-color:black;
    color: antiquewhite;
}

ul{
    list-style-type: none;
}

main{   
    border-style:dotted;
    border-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-center;
    background-color: black;
}

.top_part{
    display: flex;
    flex-direction: column;
}

.middle_part1{
    width: 30%;
}
.middle_part2{
    width: 70%;
}

body{
    background-color: rgb(27, 4, 4);
}
