body {background-color: #f5f5f5}
h1.title {clear:both}

/* Início - Menu */

.menu, 
.menu ul {
	list-style: none;
	padding: 0;
}

.menu ul {
	display:none;
	z-index: 2;
}

.menu a {
	background: #ffffff;
    display: block;
    text-decoration: none;
}

.menu li.current > a, 
.menu li:hover > a {
	color: #FFFFFF;
	background: #0FA2FF;
}

/* Fim - Menu */

/* Início - Menu Horizontal */

.menu-horizontal {
	float: left;
}

.menu-horizontal ul {
	position: absolute;
}

.menu-horizontal li {
	float: left;
	position: relative;
	width: 200px;
}

.menu-horizontal a { 
    text-align: center;
    padding: 10px;
}

.menu-horizontal > li { border-right: 1px solid #e0e0e0; }

.menu-horizontal ul li { border-bottom: 1px solid #e0e0e0; }

.menu-horizontal ul ul {
	left: 100%;
	top: 0;
	z-index: 3;
}

.menu-horizontal li li { width: 200px; }

.menu-horizontal li:hover > ul { display: block; }

/* Fim - Menu Horizontal */

/* Início - Menu vertical */

.menu-vertical ul {
	position: static;
	display:none;
}

.menu-vertical li, 
.menu-vertical li li {
	width: auto;
	border-top: 1px solid #e0e0e0;
}

.menu-vertical a {
	text-align: left;
	padding: 10px 40px;
}

.menu-vertical ul a { padding-left: 60px; }

.menu-vertical ul ul a { padding-left: 80px; }

.menu-vertical li:hover ul { display: none; }

/* fim - Menu vertical */


/* Início - Menu Principal */
.menu-main {
	font-size: 16px;
	margin-top: 20px;
}

.menu-main a {
	background-color: #ebebeb;
	color: #2E2E2E;
}

.menu-main ul a {
	color: #ffffff;
	background-color: #454545;
}

.menu-main li.current > a,
.menu-main li:hover > a { 
	background-color: #20d5ff; 
}

.menu-main.menu-horizontal li { width: 118px; }

.menu-main.menu-horizontal ul li { 
	border: none;
	width: 200px;
}

.menu-main.menu-vertical li { border: none; }

/* Fim - Menu Principal */